@page
@model LabelsModel
@{
    ViewData["Title"] = "Labels";
}
<div class="text-center">
    <h1 class="display-4">Labels</h1>
    <ul>
        <li><a class="nav-link text-dark" asp-page="Lbl_Bin">Bin Labels</a></li>
        <li><a class="nav-link text-dark" asp-page="Lbl_WO">Work Order Labels</a></li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
